body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h3 {
  margin-top: 2rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

pre {
  background-color: #f7f7f9;
  padding: 1rem;
}

.text-mono {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
